/* line 6, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 16, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 35, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 40, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_body.sass */
.container {
  display: grid;
  /*grid-template-columns: 25% 200px 25%;*/
  /*grid-template-rows: 300px 150px;*/
  /*grid-template: filas / columnas ;*/
  /*fr*/
  /*grid-template: 300px 100px 100px / repeat(4, 1fr);*/
  /*grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr));*/
  grid-template: 100px 1fr 150px/ 200px 1fr;
  /*grid-gap: filas columnas;*/
  grid-gap: 10px;
  height: 100vh;
  grid-template-areas: "header header" "left contenido" "footer footer";
}

/* line 18, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_body.sass */
.container .header {
  grid-area: header;
}

/* line 20, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_body.sass */
.container .left {
  grid-area: left;
}

/* line 22, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_body.sass */
.container .contenido {
  grid-area: contenido;
}

/* line 24, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_body.sass */
.container .footer {
  grid-area: footer;
}

/* line 26, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_body.sass */
.container .item {
  background: #5a8ced;
  padding: 1rem;
  border: 0.1rem solid red;
}

/* line 30, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_body.sass */
.container .item:nth-of-type(4) {
  background: blue;
  overflow: auto;
  /*display: subgrid;*/
  /*display: inline-grid;*/
  display: grid;
  grid-template: 50px 50px 50px / 200px 200px 200px;
}

/* line 37, /Volumes/Datos/sites-public/www/public_html/grid-css/area/editable/sass/_body.sass */
.container .item .item {
  background: yellow;
}

/*# sourceMappingURL=../../css/main.map */